<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ include.description }}">
  <meta name="author" content="{{ include.author }}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="feed.xml">
  <title>{{ include.title }}</title>
</head>
