<h3>Thanks for Reading!</h3>
I write semi-regularly about programming, medicine and, of course, various self-experiments.
If you'd like me to send you an e-mail once I've posted something new, feel free to subscribe below.

<form action="https://eidel.us20.list-manage.com/subscribe/post?u=e57e3fd638942b559576d7a14&amp;id=07ef9210b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="margin-top:1rem;">
  <input type="email" value="" name="EMAIL" class="required" placeholder="your@email.com" id="mce-EMAIL">
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e57e3fd638942b559576d7a14_07ef9210b4" tabindex="-1" value=""></div>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
