<nav class="flex flex-col sm:flex-row items-center mx-3 sm:py-2">
  <div class="sm:w-20">
    <a class="px-2 sm:px-0 py-1 flex flex-row sm:flex-col text-gray-400 hover:text-white text-sm uppercase tracking-widest leading-tight" href="/">
      <div>Oliver</div>
      <div class="ml-2 sm:ml-0">Eidel</div>
    </a>
  </div>
  <ul class="mt-1 sm:mt-0 flex-1 flex flex-row flex-wrap justify-center text-gray-200 text-sm uppercase font-medium leading-tight tracking-wider">
    <a class="px-2 py-1 hover:text-white" href="/"><li>Home</li></a>
    <a class="px-2 py-1 hover:text-white" href="/about"><li>About</li></a>
    <a class="px-2 py-1 hover:text-white" href="/talks"><li>Talks</li></a>
    <a class="px-2 py-1 hover:text-white" href="/reading"><li>Reading</li></a>
    <a class="px-2 py-1 hover:text-white" href="/publications"><li>Publications</li></a>
  </ul>
  <div class="mt-2 sm:mt-0 sm:w-20 flex sm:justify-end text-gray-400">
    <a class="p-1 sm:p-0 hover:text-white" href="https://github.com/olieidel/" rel="nofollow" target="_blank">{% svg "_assets/svg/github.svg" class="fill-current w-5 h-5" %}</a>
    <a class="ml-1 p-1 sm:p-0 hover:text-white" href="https://twitter.com/olieidel" rel="nofollow" target="_blank">{% svg "_assets/svg/twitter.svg" class="fill-current w-5 h-5" %}</a>
    <a class="ml-1 p-1 sm:p-0 hover:text-white" href="https://www.linkedin.com/in/oliver-eidel/" rel="nofollow" target="_blank">{% svg "_assets/svg/linkedin.svg" class="fill-current w-5 h-5" %}</a>
  </div>
</nav>
