<nav class="flex flex-row items-center mx-3 pt-2 pb-4">
  <div class="w-20">
    <a class="text-gray-400 hover:text-white text-sm uppercase tracking-widest leading-tight" href="/">
      <div>Oliver</div>
      <div>Eidel</div>
    </a>
  </div>
  <ul class="flex-1 flex flex-row justify-center text-gray-200 text-sm uppercase font-medium leading-tight tracking-wider">
    <li class="mx-2"><a class="hover:text-white" href="/">Home</a></li>
    <li class="mx-2"><a class="hover:text-white" href="/about">About</a></li>
    <li class="mx-2"><a class="hover:text-white" href="/talks">Talks</a></li>
    <li class="mx-2"><a class="hover:text-white" href="/reading">Reading</a></li>
  </ul>
  <div class="w-20 flex justify-end text-gray-400">
    <a class="hover:text-white" href="https://github.com/olieidel/" rel="nofollow" target="_blank">{% svg "_assets/svgs/github.svg" class="fill-current w-5 h-5" %}</a>
    <a class="ml-1 hover:text-white" href="https://twitter.com/olieidel" rel="nofollow" target="_blank">{% svg "_assets/svgs/twitter.svg" class="fill-current w-5 h-5" %}</a>
    <a class="ml-1 hover:text-white" href="https://www.linkedin.com/in/oliver-eidel/" rel="nofollow" target="_blank">{% svg "_assets/svgs/linkedin.svg" class="fill-current w-5 h-5" %}</a>
  </div>
</nav>
