<!DOCTYPE html>
<html lang="en">
  {% if layout.title == 'index' %}
  {% assign title = site.title %}
  {% else %}
  {% assign title = page.title %}
  {% endif %}

  {% include head.html
  description=site.description
  author=site.author
  title=title %}

  <body class="text-gray-400 gradient-dark">
    <div id="main-overlay" class="mx-auto max-w-2xl mt-8 px-5 py-3 frosted-overlay rounded shadow-xl">
      {% include menu.html %}
      <main>
        {{ content }}
      </main>
      <footer>
        <div class="text-xs text-gray-500 text-center" id="funny-quote">{{ site.funny_quotes.first }}</div>
      </footer>
    </div>
    <div class="mt-4 mb-8 text-xs text-white text-center" id="look-behind-container">
      <a id="look-behind" href="#">Look behind</a>
    </div>
    <div class="mx-auto h-screen flex items-center justify-center text-xs text-gray-800 text-center" style="display:none" id="show-content-container">
      <a id="show-content" href="#">Ah, cool</a>
    </div>
  </body>

  <script type="text/javascript">
   $('#look-behind').on('click', function() {
     $('#look-behind-container').hide();
     $('#main-overlay').fadeToggle(500);
     $('#show-content-container').show();
   });

   $('#show-content').on('click', function() {
     $('#show-content-container').hide();
     $('#main-overlay').fadeToggle(500);
     $('#look-behind-container').show();
   });

   // We'll respect non-js people by having the first quote in the
   // HTML DOM at the beginning
   var funnyQuotes = {{ site.funny_quotes | jsonify }};
   var randomFunnyQuote = funnyQuotes[Math.floor(Math.random() * funnyQuotes.length)];
   var footerEl = document.getElementById('funny-quote');
   footerEl.innerHTML = randomFunnyQuote;
  </script>

  {% include google_analytics.html %}
</html>
