<!DOCTYPE html>
<html lang="en">
  {% if layout.title == 'index' %}
  {% assign title = site.title %}
  {% else %}
  {% assign title = page.title %}
  {% endif %}

  {% include head.html
  description=site.description
  author=site.author
  title=title %}

  <body>
    <div class="root-container">
      <header>
        <div class="muted"><a href="/">{{ site.title }}</a></div>
      </header>
      <div class="main-container">
        {% include menu.html %}
        <hr />
        <div class="content">
          {{ content }}
        </div>
        {% if page.disqus == 'y' %}
        <hr />
        {% include disqus.html %}
        {% endif %}
      </div>
      <footer>
        <div class="muted">{{ site.footer }}</div>
      </footer>
    </div>
  </body>

  {% include google_analytics.html %}
</html>
