<!DOCTYPE html>
<html lang="en">
  {% if layout.title == 'index' %}
  {% assign title = site.title %}
  {% else %}
  {% assign title = page.title %}
  {% endif %}

  {% include head.html
  description=site.description
  author=site.author
  title=title %}

  <body>
    <div class="root-container">
      <header>
        <div class="muted"><a href="/">{{ site.title }}</a></div>
      </header>
      <div class="main-container">
        {% include menu.html %}
        <hr />
        <div class="content">
          {{ content }}
        </div>
      </div>
      <footer>
        <div class="muted" id="funny-quote">{{ site.funny_quotes.first }}</div>
      </footer>
    </div>
  </body>

  <script type="text/javascript">
   // We'll respect non-js people by having the first quote in the
   // HTML DOM at the beginning
   var funnyQuotes = {{ site.funny_quotes | jsonify }};
   var randomFunnyQuote = funnyQuotes[Math.floor(Math.random() * funnyQuotes.length)];
   var footerEl = document.getElementById('funny-quote');
   footerEl.innerHTML = randomFunnyQuote;
  </script>

  {% include google_analytics.html %}
</html>
