<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Oliver Eidel's Blog">
    <meta name="author" content="Oliver Eidel">

    <title>{{ site.title }}</title>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}
    <div id="container">
      {% include links.html %}
      <div class="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
