---
layout: base
---

<div class="post-title">
  <div class="post-date">{{ page.date | date_to_string }}</div>
  <h1>{{ page.title }}</h1>
</div>
{{ content }}
<hr />
<h3>Thanks for Reading!</h3>
If you'd like to receive an e-mail once I post new articles, feel free to subscribe below. There'll be no spam, I promise!

<form action="https://eidel.us20.list-manage.com/subscribe/post?u=e57e3fd638942b559576d7a14&amp;id=07ef9210b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="margin-top:1rem;">
  <input type="email" value="" name="EMAIL" class="required" placeholder="your@email.com" id="mce-EMAIL">
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e57e3fd638942b559576d7a14_07ef9210b4" tabindex="-1" value=""></div>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
